#dlut {
  background: white;
}

.container {
  width: 100%;

  .title {
    width: 100%;
    color: green;
    margin-bottom: 30px;
  }

  .search-row {
    margin-bottom: 20px;
  }

  .col-margin-bottom {
    margin-bottom: 20px;
  }
}